<div class="container">
  <div class="hero-unit">
    <h1>VolunteerFeed</h1>
    <p>Providing the first aggregated API feed of volunteering opportunities!</p>
    <p><a class="btn btn-primary btn-large" href="/about">Learn more &raquo</a></p>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Charities</h2>
      <p>Get yourselves noticed, we can feed data from your API!</p>
      <p><a class="btn" href="/about/charity">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Agencies &amp; Job Boards</h2>
      <p>Aggregate your data into our platform or use our data to advertise opportunities...</p>
      <p><a class="btn" href="/about/agency">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>App Designers</h2>
      <p>Query one API &amp; use data from multiple sources...</p>
      <p><a class="btn" href="/about/apps">View details &raquo;</a></p>
    </div>
  </div>
</div>
