<div class="container">
  <%- partial('about_bar') %>
  <h1>Charities</h1>
  <h2>We need you!</h2>
  <p>Whether you currently have an API providing listings of volunteering opportinities now or are looking to provide one, speak to us! We can help feed your opportunities into our feed for anyone to access.</p>
</div>
