<div class="container">
  <%- partial('about_bar') %>
  <h1>Contact us</h1>
  <p>Just drop us an email to <a href="mailto:greg+volunteerfeed@greg-net.co.uk">greg+volunteerfeed@greg-net.co.uk</a></p>
</div>
