<div class="container">
<%- partial('about_bar') %>
<h1>VolunteerFeed</h1>
<h2>What we do</h2>
<p>We take API feeds of volunteering opportunities and convert them to one unified format, allowing developers to use data from multiple sources easily.</p>
<h2>Why we do it</h2>
<p>Why not? Volunteering is both fun and easy, we want to help people find these opportunities easily and quickly!</p>
<h2>Where we started it</h2>
<p>We (well, mostly I) came up with the concept as part of the <a href="http://www.goodfornothing.co/">Good for Nothing</a> hack weekend <a href="http://www.goodfornothing.co/2012/03/29/maketime-freerange-brief/">Make/Time Freerange Brief</a>! Currently we only have one API feeding into the service, but are in contact with two other providers in the hope we can start feeding more data in.</p>
</div>
